.pic-list {
  position: relative;

  .vertical-slider {
    height: 100%;
    padding: 30px 0;
    position: absolute !important;
    @include posi(0, null, null, 0);
  }

  .horizontal-slider {
    width: 100%;
    padding: 0 30px;
    position: absolute !important;
    @include posi(null, 0, 0);
  }

  .vertical-slider, .horizontal-slider {
    opacity: .3;
    z-index: 100;

    &:hover {
      opacity: 1;
    }
  }

  .img-wrap {
    width: 100%;
    padding: 28.125% 0;
    background-size: cover;
    border-radius: 2px;
  }

  .el-dialog {
    margin: 0;
    background: rgba(255, 255, 255, .8);
  }

  .el-dialog__body {
    padding: 4px;
  }

  .el-dialog__header {
    padding: 0;
  }

  .el-dialog__headerbtn {
    font-size: 36px;
    top: 0;
    right: 5px;

    i {
      color: #fff !important;
      filter: drop-shadow(0 0 2px #000);

    }
  }
}
