.pic-list {
  position: relative;

  .vertical-slider {
    height: 100%;
    padding: 30px 0;
    position: absolute !important;
    @include posi(0, null, null, 0);
  }

  .horizontal-slider {
    width: 100%;
    padding: 0 30px;
    position: absolute !important;
    @include posi(null, 0, 0);
  }

  .vertical-slider, .horizontal-slider {
    opacity: .3;

    &:hover {
      opacity: .8;
    }
  }
}
