.matrix-container {
  @include size(100%);
  position: relative;
}

.list-matrix-container {
  @include size(100%);
  display: grid;
  overflow: hidden;
  position: relative;

  .grip-box {
    padding: 2px;
    border-radius: 10px;
    background-size: cover;
    background-clip: content-box;
    position: relative;
    cursor: pointer;

    &:hover {
      .btn {
        opacity: 1;
      }

      .info {
        opacity: .8;
      }
    }

    .btn {
      @include size(50px, auto);
      @include button-variant(rgba(255, 255, 255, .8));
      font-size: 20px;
      color: #000;
      position: absolute;
      @include posi(10px, 10px);
      opacity: 0;
      transition: .4s;
      cursor: pointer;
    }
  }

  .x-hidden {
    opacity: 0;
  }

  .info {
    position: absolute;
    @include posi(null, 10px, 10px);
    color: #fff;
    font-size: 12px;
    opacity: 0;
    line-height: 1.2em;
    transition: .4s;
    letter-spacing: 1px;

    i {
      padding-right: 5px;
    }

    p {
      padding-bottom: 2px;
    }
  }
}
