.matrix-container {
  @include size(100%);
  position: relative;
}

.list-matrix-container {
  @include size(100%);
  display: grid;
  overflow: hidden;
  position: relative;

  .grip-box {
    padding: 2px;
    border-radius: 10px;
    background-size: cover;
    background-clip: content-box;
    position: relative;
    cursor: pointer;
    user-select: none;
    background-position: center;

    &:hover {
      .down-btn {
        opacity: 1;
      }

      .pic-info {
        opacity: .8;
      }
    }
  }

  .x-hidden {
    opacity: 0;
  }

  .down-btn {
    opacity: 0;
    transition: .4s;
  }

  .pic-info {
    opacity: 0;
    transition: .4s;
  }
}
