$nav-radius: 30px;
$item-radius: 20px;
$item-distance: 70px;

#app-nav {
  position: absolute;
  @include size(2 * $nav-radius);
  @include posi(10px, null, null, 20px);

  .app-nav-icon-wrap {
    @include circle(2 * $nav-radius);
    @include posi(0, 0);
    z-index: 11;
    font-size: 30px;
    color: #f2f4d1;
    background: #f17e7e;
    cursor: pointer;
    animation: wobble 2s 2s infinite;

    &:hover {
      animation: none;
    }
  }

  &.show {
    .app-nav-icon-wrap {
      animation: none;
    }

    li:nth-child(1) {
      transform: scale(1) translateX(-$item-distance);
    }

    li:nth-child(2) {
      transform: scale(1) translateX(-$item-distance * .7) translateY($item-distance * .7);
    }

    li:nth-child(3) {
      transform: scale(1) translateY($item-distance);
    }
  }

  .app-nav-container {
    li {
      position: absolute;
      @include posi($nav-radius - $item-radius, $nav-radius - $item-radius);
      @include circle(2 * $item-radius);
      color: #f2f4d1;
      transition: transform .5s;
      transform: scale(0.5) rotate(180deg);
      cursor: pointer;
      z-index: 10;
    }

    li:nth-child(1) {
      background: #efca8c;
    }

    li:nth-child(2) {
      background: #dfe38e;
    }

    li:nth-child(3) {
      background: #7fe7cc;
    }
  }
}
